name: radix-cluster-cleanup-pr
on:
  pull_request:
    branches:
      - master
permissions:
  contents: read
jobs:
  build:
    name: pull-request-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          platforms: |
            linux/amd64
            linux/arm64

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "./radix-cluster-cleanup/go.mod"
      - name: Install dependencies
        working-directory: ./radix-cluster-cleanup
        run: go mod download
      - name: Run Tests
        working-directory: ./radix-cluster-cleanup
        run: go test -cover `go list ./...`

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v5
        with:
          go-version-file: "./radix-cluster-cleanup/go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.7.2
          working-directory: ./radix-cluster-cleanup
